<div class="main-content">
  <nav class="sidebar close">
    <header>
      <div class="image-text">
                <span class="image">
                    <img src="../../../assets/test.jpg" alt="">
                </span>

        <div class="text logo-text">
          <span class="name">ชื่อผู้ใช้งาน</span>
          <span class="profession">นักศึกษา/อาจารย์</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">

        <li class="search-box">
          <i class='bx bx-search icon'></i>
          <input type="text" placeholder="ค้นหา...">
        </li>

        <ul class="menu-links">
          <li class="nav-link">
            <a (click)="toMain()">
              <i class='bx bx-home-alt icon' ></i>
              <span class="text nav-text">หน้าหลัก</span>
            </a>
          </li>
          <li class="nav-link">
            <a (click)="toListCourseTeacher()">
              <i class='bx bx-table icon'></i>
              <span class="text nav-text">ตารางหลักสูตร</span>
            </a>
          </li>
          <li class="nav-link">
            <a (click)="toListCourseStudent()">
              <i class='bx bx-table icon'></i>
              <span class="text nav-text">ตารางรายวิชา</span>
            </a>
          </li>
          <li class="nav-link">
            <a (click)="toListCourse()">
              <i class='bx bx-add-to-queue icon' ></i>
              <span class="text nav-text">รายชื่อหลักสูตร</span>
            </a>
          </li>
          <li class="nav-link">
            <a (click)="toAddingCourse()">
              <i class='bx bxs-book-add icon' ></i>
              <span class="text nav-text">เพิ่มรายวิชา</span>
            </a>
          </li>
          <li class="nav-link">
            <a (click)="toRegister()">
              <i class='bx bx-book-add icon'></i>
              <span class="text nav-text">ลงทะเบียนเรียน</span>
            </a>
          </li>
          <li class="nav-link">
            <a (click)="toHistory()">
              <i class='bx bx-history icon' ></i>
              <span class="text nav-text">ประวัติการลงทะเบียน</span>
            </a>
          </li>
          <li class="nav-link">
            <a (click)="toDrop()">
              <i class='bx bx-message-alt-minus icon' ></i>
              <span class="text nav-text">เพิกถอนวิชาเรียน</span>
            </a>
          </li>
        </ul>
      </div>

     <div class="bottom-content">
       <li class="">
         <a href="#">
           <i class='bx bx-log-out icon' ></i>
           <span class="text nav-text">ออกจากระบบ</span>
         </a>
       </li>
     </div>
    </div>
  </nav>
  <!-- Button to top -->
  <button (click)="topFunction()" class="toTopBtn" id="toTopBtn" title="Go to top"><i class='bx bxs-chevron-up'></i></button>


  <section class="home">

  <mat-card *ngIf="isMain">
    <mat-card-title>วิชาของ Selected Topic 2</mat-card-title>
    <mat-card-subtitle>&emsp;
      &emsp;mini project ของรายวิชานี้
    </mat-card-subtitle>
    <div class="main-pre">
      <div class="pre">
        <p>โปรเจคนี้เป็นส่วนหนึ่งของรายวิชา Selected Topic 2 โดยใช้ github เก็บโปรเจคและร่วมกันทำงานเป็นทีมกับคนภายในกลุ่ม: </p>
        <a href="https://github.com/ProjectAngular/ProjectAngular" target="_blank">
          <button>Reponsitory</button>
        </a>
      </div>
      <div>
        <img src="../../../assets/github.png"/>
      </div>
    </div>
  </mat-card>
    <app-table-teacher *ngIf="isListCourseTeacher"></app-table-teacher>
    <app-table-student *ngIf="isListCourseStudent"></app-table-student>
    <app-course-list *ngIf="isListCourse"></app-course-list>
    <app-add-course *ngIf="isAddingCourse"></app-add-course>
    <app-register-history *ngIf="isHistory"></app-register-history>
    <app-drop *ngIf="isDrop"></app-drop>
    <app-student-register *ngIf="isRegister"></app-student-register>
  </section>
</div>
