<table mat-table [dataSource]="Courses" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Code">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell *matCellDef="let course"> {{course.courseCode} </td>
  </ng-container>

  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let course"> {{course.courseTitle}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Section">
    <th mat-header-cell *matHeaderCellDef> Section </th>
    <td mat-cell *matCellDef="let course"> {{course.courseSection}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Credit </th>
    <td mat-cell *matCellDef="let course"> {{course.courseCredit}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Start </th>
    <td mat-cell *matCellDef="let course"> {{course.courseTimestart}} </td>
  </ng-container>


  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> End </th>
    <td mat-cell *matCellDef="let course"> {{course.courseTimeend}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let course"> {{course.courseDate}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let course"> {{course.courseLocation}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Online </th>
    <td mat-cell *matCellDef="let course"> {{course.courseOnline}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
